<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }

    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }
    
    .c3 {
        background-color: blue;
    }

    .girar{
        transform: rotate(45deg);
    }


</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :style="{backgroundColor: cor}"></div>
        <div class="demo" :style="{height: altura}"></div>
        <div class="demo" :style="[meuEstilo]"></div>
    </div>
    <hr>
    <label>Cor</label>
    <input id="cor" type="text" v-model="cor">
    <hr>
    <label>Largura</label>
    <input id="largura" type="text" v-model="largura">
    <hr>
    <label>Altura</label>
    <input id="altura" type="text" v-model="altura">
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            cor: 'red',
            largura: 100,
            altura: 20
        },
        computed:{
            meuEstilo(){
                return{
                    backgroundColor: this.cor,
                    width: this.largura + 'px',
                    height: this.altura + 'px'
                }
            }
        }
    })
</script>